{% extends "layout/base.html" %}
{% block title %}Category{% endblock %}
{% block content %}
<h3>{{page_title}}</h3>
<form>
<div class="mb-3">
<label class="form-label">Category Name</label>
<input class="form-control" placeholder="Enter category">
</div>
<div class="mb-3">
<label class="form-label">Type</label>
<select class="form-select">
<option>Consumable</option>
<option>Asset</option>
</select>
</div>
<button class="btn btn-success">Save</button>
<a href="/category/" class="btn btn-secondary">Cancel</a>
</form>
{% endblock %}
