{% extends "layout/base.html" %}

{% block title %}
Category Master
{% endblock %}

{% block content %}

<!-- ==========================================================
Breadcrumb
=========================================================== -->

<nav aria-label="breadcrumb">

    <ol class="breadcrumb">

        <li class="breadcrumb-item">
            <a href="/">Dashboard</a>
        </li>

        <li class="breadcrumb-item">
            Masters
        </li>

        <li class="breadcrumb-item active">
            Category
        </li>

    </ol>

</nav>


<!-- ==========================================================
Page Header
=========================================================== -->

<div class="d-flex justify-content-between align-items-center mb-4">

    <div>

        <h2 class="mb-1">
            Category Master
        </h2>

        <small class="text-muted">
            Manage Item Categories
        </small>

    </div>

    <a
        href="/category/new"
        class="btn btn-primary">

        <i class="bi bi-plus-circle"></i>

        Add Category

    </a>

</div>

<!-- ==========================================================
flash message
=========================================================== -->

{% include "components/flash_message.html" %}

<!-- ==========================================================
Search
=========================================================== -->

<div class="card shadow-sm mb-3">

    <div class="card-body">

        <input
            id="search-input"
            type="text"
            class="form-control"
            placeholder="Search Category"
            value="{{ search }}" >

    </div>

</div>


<!-- ==========================================================
Category Table
=========================================================== -->

<div class="card shadow-sm">

    <div class="card-body p-0">
        {% include "components/loading_spinner.html" %}

        <div id="table-container">

            {% include "category/table.html" %}

        </div>

    </div>

</div>

{% endblock %}




{% block scripts %}

<script src="{{ url_for('static', path='js/live_search.js') }}"></script>

{% endblock %}