<div class="table-responsive">
    <div class="d-flex justify-content-between mb-2">
<!-- 
        <small class="text-muted">
            Total Records :
            {{ pagination.total_records }}
        </small> -->

    </div>
    <table id="unitTable" class="table table-hover table-striped align-middle mb-0">

        <thead class="table-dark">

            <tr>

                <th width="90">
                    Unit Name
                </th>

                <th>
                    Unit Symbol
                </th>

                <th width="120">
                    Status
                </th>

                <th width="170">
                    Actions
                </th>

            </tr>

        </thead>

        <tbody>

            {% for unit in units %}

            <tr>

                <td>

                    {{ unit.name }}

                </td>

                <td>

                    {{ unit.symbol }}

                </td>

                <td>

                    <span class="badge bg-success">

                        Active

                    </span>

                </td>

                <td>

                    <a href="/unit/{{ unit.id }}/edit" class="btn btn-warning btn-sm">

                        <i class="bi bi-pencil-square"></i>

                    </a>

                    <button class="btn btn-sm btn-danger" data-bs-toggle="modal"
                        data-bs-target="#deleteModal{{ unit.id }}">

                        <i class="bi bi-trash"></i>

                        Delete


                    </button>

                </td>

            </tr>

            <!------Delete  Modal goes HERE -------->

            <div class="modal fade" id="deleteModal{{ unit.id }}" tabindex="-1">

                <div class="modal-dialog">

                    <div class="modal-content">

                        <div class="modal-header">

                            <h5 class="modal-title">
                                Delete Unit
                            </h5>

                            <button type="button" class="btn-close" data-bs-dismiss="modal">
                            </button>

                        </div>

                        <div class="modal-body">

                            Are you sure you want to delete

                            <strong>{{ unit.name }}</strong> ?

                        </div>

                        <div class="modal-footer">

                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">

                                Cancel

                            </button>

                            <form method="post" action="/unit/{{ unit.id }}/delete">

                                <button type="submit" class="btn btn-danger">

                                    Delete

                                </button>

                            </form>

                        </div>

                    </div>

                </div>

            </div>

            {% else %}

            <tr>

                <td colspan="5" class="text-center py-5 text-muted">

                    No Units Found

                </td>

            </tr>

            {% endfor %}

        </tbody>

    </table>
    {% include "components/pagination.html" %}

</div>